.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.btn {
  padding: 0.8rem 3rem;
  font-size: 0.85rem;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.2s ease;
  border-radius: .3rem;
}
.btn-primary {
  background: var(--primary);
  color: var(--secondary);
}
.btn-primary:hover {
  background: transparent;
  border-color: var(--primary);
  color: var(--primary);
}
